.Teslah {
  background-color: rgb(39, 145, 104);
  width: 500px;
  height: auto;
  overflow: hidden;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.Foto {
  width: 50%;
  overflow: hidden;
  background-color: coral;
}
.Foto img {
  width: 250px;
}

.Descrip {
  background-color: burlywood;
  color: black;
}
.Descrip button {
  background-color: blueviolet;
}
